body {
    display: flex;
    background-color: rgb(10,14,25,1);
}

nav {
    width: 100%;
    background-color: rgba(20, 26, 40, 1);
    backdrop-filter: blur(6px);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00ffa8;
}

.bigbox {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 300px;
}

.bigbox h2 {
    color: #00ffa8;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 6px #00ffa8;
}

.input_box {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input_box label {
    color: white;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}

.input_box input {
    box-sizing: border-box;
    height: 60px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.05);
    color: #00ffa8;
    padding: 10px 12px;
    font-size: 20px;
    transition: border 0.3s ease;
}

.input_box input:focus {
    outline: none;
    border: 1px solid #00ffa8;
    box-shadow: 0 0 10px #00ffa8;
}

#register_button {
    width: 120px;
    height: 50px;
    margin-top: 20px;
    padding: 10px 12px;
    background: #00ffa8;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
}

#register_button:hover {
    background: #00ffcc;
    transform: translateY(-3px);
}