body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: grey;
}

nav {
    width: 100%;
    background-color: aqua;
    animation-name: navDown;
    animation-duration: 1s;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: containerMove;
    animation-duration: 1s;
    height: 380px;
    width: 350px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: 1s;
}

.register .input_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.register .input_box label{
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
}

.register .input_box input{
    color: black;
    font-size: 18px;
    height: 35px;
    width: 250px;
    background: rgba(255, 255, 255, 0.788);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 10px;
}
.register .input_box input:focus{
    border: 1px solid black;
}