body {
    display: flex;
    background-color: rgb(10,14,25,1);
}

nav {
    width: 100%;
    background-color: rgba(20, 26, 40, 1);
    backdrop-filter: blur(6px);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 1;
    margin: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4da3ff;
}